<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <div class="container">
      <form action="/" method="post">
        <input type="text" id="text-bar" name="newTodo" placeholder="Add a todo...">
        <input type="submit" name="submit" value="Add Todo">
      </form>
    </div>
    <div>
      <h1>To Do List</h1>
      <p>Click on your todo to move it to move it to your completed tasks!</p>
      {{#toDo}}
      <form class="incomplete" action="/" method="post">
        <input type="submit" name="incomplete" value="{{.}}">

      </form>
      {{/toDo}}

    </div>
    <div>
      <h1>Completed Tasks</h1>
      {{#completedList}}
      <form class="complete">
        <label for="check">{{.}}</label>
      </form>
      {{/completedList}}
    </div>

  </body>
</html>
